
# Relocation between Neighborhoods in KSA Cities

## 1. Introduction

Kingdom of Saudi Arabia (KSA) is an Arab Islamic state, the largest country in the Arabian peninsula situated at the strategic crossroads of three continents Europe, Africa and Asia. It is a home to several human civilizations and the cradle of the heavenly messages. Capital of Saudi Arabia is Riyadh.

KSA is renowned for the sacred sites of Islam. The two Holy Mosques' of Makkah Al Mukarramah and Al Madinah Al Munawwarah are the destinations of millions of Muslims annually for Hajj and Umrah additionally they visit other significant sites of Islam.

KSA ranks first in production and reserves of petrol, fifth in natural gas reserves and tenth in natural gas production. Thousands of Muslims heads for the KSA for Hajj and Umrah and for visiting Makkah Al Mukarramah and Al Madinah Al Munawwarah, these visits necessitates provision of housing, catering and health services for the guests of Allah almighty. 

part of Saudi Vision 2030 opening Saudi Arabia further for business will boost productivity and smooth  journey to become one of the largest economies in the world. They improve business environment, restructure economic cities, create special zones and deregulate the energy market to make it more competitive.

The Saudi Human Resources Gateway is one of the major initiatives of HRDF that aims to create a leap forward in HR Management practice, to contribute to the progression of the HR practitioners and to form a knowledge database where establishments, HR practitioners and researchers can benefit from.
The HR Gateway aims to provide specialized, comprehensive, and free of charge Arabic HR content. Also it aims to offer HR practitioners an effective social platform as well as allowing them to have a reach to HR related contents, practicing it and modifying it to suit the company needs and share their experiences.

One of innovative services we can add to Saudi HR Gateway providing advising service for  people  to move and live in one of  KSA cities suitable and nicely and suitable .

### a) Problem Description:

Now let me explain the context of coursera Capstone project through a an example.  Fahed live on Al Wurud distrect which is a neighborhood in Jeddah city (one of KSA cities). Fahed love this  neighborhood, mainly because of all the great surrounding and enviormnent that exist in this neighborhood, such as burger joint, dessert shop, coffee shops,parks, pharmacies, graduate schools and so on. There are  lot of oppertunity and  job offer from a great company in Riyadh city (the capital of KSA) with great career prospects. However, given the far distance from his current place he unfortunately must move if he decide to accept the offer.

Wouldn't it be great if we are able to help Fahed or any similar person to determine neighborhoods on the other city that are the similar as the current neighborhood, and if not perhaps similar neighborhoods that are at least closer to his new job?

### b)  Objective

The aim of this report is to study and analyze the neighborhoods of both Jeddah and Riyadh cities and group them into similar clusters, to analyze those clusters to gather meaningful information. That information can be used to find out Riyadh neighborhoods that are same as current neighborhood in Jeddah or at least similar but . 

This will help any person decide to move from one city to another in same country or diffrent country

### c)  Target Audience

This information provided by this report would be useful for people who are interested in relocating to a different city  and are interested in finding new neighborhoods that are highly similar to their existing neighborhood.

## 2. Data Description:
    
To consider the objective stated above, we can list the below data sources used for the analysis.

### a) KSA Neighborhood Data: 
The following github project (https://github.com/homaily/Saudi-Arabia-Regions-Cities-and-Districts/tree/master/json) contains Saudi Arabia Regions, Cities and Districts. The data is public data collected from https://maps.address.gov.sa/ as ,all coordinates in (Lat, Lon) aka (Y, X) format and 8 decimal points.
    Data points include:
        Regions, Cities and Districts.
        Names (Arabic & English).
        Regions capital city, population & center point.
        Regions boundaries.
        Districts boundaries.
This data divided into three parts:
- regions.json
- cities.json
- districts.json

The information obtained will be transformed into a pandas data frame for further analysis.

### b) Coordinate data for each Neighborhood in KSA Cities: 
    
All the venues in each neighborhood in the KSA cities will be collected from  Fousquare using  Fousquare API 
By using this api we will get all the venues in each neighborhood. We can filter these venues to get only two cities will be anlyzed.


### c) Sample from data and features

In [7]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np # library to handle data in a vectorized manner


import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

import json # library to handle JSON files

Libraries imported.

#### Loading regions.json for extract KSA regions and explore it

In [5]:
with open('ksa/regions.json', encoding="utf-8") as json_data:    
    country_data = json.load(json_data)
print('No of regon:',len(country_data) )

No of regon: 13

#### Then convert json object of KSA regions to Pandas dataframe

In [10]:
country_regions= pd.DataFrame(columns= [ 'region_id', 'name_ar', 'name_en','population' , 'capital_city_id','Latitude', 'Longitude'] )

for i,data in enumerate (country_data):
    #print(i, end=' ')
    row=[]
    for c in country_regions.columns:
        if c == 'Latitude' :
            row.append(data['center'][0])    
        elif c== 'Longitude':  
            row.append(data['center'][1]) 
        else:
            row.append(data[c])    
    #print(row)
    country_regions.loc[len(country_regions)] = row
    
country_regions.head()

,region_id,name_ar,name_en,population,capital_city_id,Latitude,Longitude
0,1,منطقة الرياض,Riyadh,6777146,3,24.70000,46.73333
1,2,منطقة مكة المكرمة,Makkah,6915006,6,21.42718,39.84349
2,3,منطقة المدينة المنورة,Madinah,1777933,14,24.47058,39.60781
3,4,منطقة القصيم,Qassim,1215858,11,26.33034,43.97436
4,5,المنطقة الشرقية,Eastern Province,4105780,13,26.44199,50.10920

#### Loading cities.json for extract KSA cities  and explore it

In [11]:
with open('ksa/cities.json', encoding="utf-8") as json_data:    
    cities_data = json.load(json_data)

#### Then convert json object of KSA cities to Pandas dataframe

In [13]:
country_cities= pd.DataFrame(columns= ['city_id', 'region_id', 'name_ar', 'name_en','Latitude', 'Longitude'] )


for data in cities_data:
    row=[]
    for c in country_cities.columns:
        if c == 'Latitude' :
            row.append(data['center'][0])    
  
        elif c== 'Longitude':
  
            row.append(data['center'][1]) 
        else:
            row.append(data[c])    
    #print(row)
    country_cities.loc[len(country_cities)] = row
    
country_cities.head()

  city_id region_id name_ar  name_en  Latitude  Longitude
0       1         7    تبوك    Tabuk  28.41464   36.53387
1       2         7    نعمي    Na'mi  28.30508   35.74931
2       3         1  الرياض   Riyadh  24.70000   46.73333
3       4         7    حميط   Humayt  28.65152   35.38013
4       5         2  الطائف  At Taif  21.26848   40.41667

#### Loading cities.json for extract KSA districts  and explore it

In [14]:
#with open('newyork_data.json') as json_data:
with open('ksa/districts.json', encoding="utf-8") as json_data:    
    districts_data = json.load(json_data)

#### Then convert json object of KSA districts to Pandas dataframe

In [15]:
country_districts= pd.DataFrame(columns= ['district_id','city_id', 'region_id', 'name_ar', 'name_en','Latitude', 'Longitude'] )

for data in districts_data:
    row=[]
    for c in country_districts.columns:
        if c == 'Latitude' :
            b = np.array(data['boundaries'][0])
            b=b.mean(axis=0 )
            row.append(b[0])   
            row.append(b[1])    
        elif c == 'Longitude' :
            None
        else:
            row.append(data[c])    
        #print(row)
    
    country_districts.loc[len(country_districts)] = row
    
    
country_districts.head()

,district_id,city_id,region_id,name_ar,name_en,Latitude,Longitude
0,10100003001,3,1,حي العمل,Al Amal Dist.,24.644966,46.723598
1,10100003002,3,1,حي النموذجية,Al Namudhajiyah Dist.,24.655615,46.696523
2,10100003003,3,1,حي الجرادية,Al Jarradiyah Dist.,24.618815,46.696110
3,10100003004,3,1,حي الصناعية,Al Sinaiyah Dist.,24.646447,46.741675
4,10100003005,3,1,حي منفوحة الجديدة,Manfuha Al Jadidah Dist.,24.613354,46.716463